.flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  border-radius: 4px;
  background-color: var(--secondary);
  border: none;
  outline: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
}

.label {
  font-size: var(--text-xs);
  color: var(--gray);
}

.input:focus {
  border: 1px solid var(--primary);
}

.input:active {
  border: 1px solid black;
}

.error {
  padding-left: 4px;
  font-size: var(--text-xs);
  color: var(--error);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounce 0.5s;
}
